<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div style="background-color: whitesmoke;" class="container col-md col-sm col-xs">
        <div class="row col-md col-sm col-xs d-flex justify-content-center">
            <img style="width: 350px;" src="style/img/tick.png" alt="">
            <h3 class="text-center">Thank you for your interest.</h3>
            <p class="text-center">We'll get in touch with you very soon!</p>
            <h6 class="text-center mt-5">PS.<p class="fw-normal">In the meantime,learn more about growth marketing strategies <a href="">from our blog.</a></p></h6>
        </div>
    </div>
</body>
</html>